---

--- 
<div class="container banner ">
    <h1 class="banner__heading">
        MANAGE YOUR CUSTOMERS AND INVOICES EASLY
    </h1>
    <div class="banner__image">
        <img 
            aria-hidden="true" 
            src="/illustration-project-manager.png" 
            alt="project manager illustration"
        />
    </div>
</div>

<style>
    .banner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .banner.container {
        margin: 5.75rem auto 2.1875rem auto;
    }

    .banner__heading {
        font-size: 4.0625rem;
        font-weight: 900;
        max-width: 590px;
    }
</style>